# Cognito and authentication configuration

# The unique prefix for your Cognito domain. This must be unique across all Cognito domains in AWS.
COGNITO_DOMAIN_PREFIX=my-unique-prefix

# Google OAuth Client ID for enabling Google login in Cognito User Pool.
GOOGLE_CLIENT_ID=my-google-client-id

# Google OAuth Client Secret for enabling Google login in Cognito User Pool.
GOOGLE_CLIENT_SECRET=my-google-client-secret

# Facebook OAuth Client ID for enabling Facebook login in Cognito User Pool.
FACEBOOK_CLIENT_ID=my-facebook-client-id

# Facebook OAuth Client Secret for enabling Facebook login in Cognito User Pool.
FACEBOOK_CLIENT_SECRET=my-facebook-client-secret
